@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

html {
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Nova Square";
}

h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 100px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 40px;
  padding: 32px 0;
  width: 300px;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(26, 28, 26);
  background: rgb(230, 230, 89);
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 orange;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[:disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background: red;
}

/* .fa-crown {
  font-size: 2.5rem;
  margin-left: 1rem;
} */

.container2 {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
}

#howto {
  display: flex;
  text-align: center;
  color: green;
}
