html {
  scroll-behavior: smooth;
  color: transparent;
  font-size: 20px;
}

body {
  background: linear-gradient(90deg, white 50%, rgb(117, 209, 216) 50%);
}

nav a {
  color: rgb(190, 184, 184);
  margin-left: 30px;
  font-family: monospace;
  font-size: 20px;
}

nav a:hover {
  color: grey;
}

#home {
  height: 600px;
  font-size: 30px;
  font-family: Lucida Handwriting;
  padding-top: 300px;
  text-align: center;
}

#role {
  font-size: 50px;
  padding-top: 20px;
  font-family: monospace;
}

#about {
  background: linear-gradient(90deg, white 50%, rgb(199, 107, 91) 50%);
  height: 650px;
  line-height: 3;
  font-family: monospace;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
}

.photo {
  margin-left: 200px;
  margin-right: 0px;
  text-align: left;
  opacity: 0.9;
}

#portfolio {
  background: linear-gradient(90deg, white 50%, rgb(162, 162, 235) 50%);
  height: 650px;
  font-family: monospace;
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
}

#contact {
  background-color: white;
  height: 600px;
  font-family: monospace;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
}

.boxed {
  font-size: 20px;
  margin-left: 750px;
  margin-right: 60px;
  margin-top: 10px;
  text-align: justify;
}

#text1 {
  width: 300px;
  border: 5px solid grey;
  padding: 50px;
  margin: 70px;
  float: left;
}

#text2 {
  width: 300px;
  border: 5px solid grey;
  padding: 50px;
  margin: 70px;
  float: right;
}

#text3 {
  width: 300px;
  border: 5px solid grey;
  padding: 50px;
  margin: 70px;
  float: left;
}

#footer {
  background-color: white;
}
