html {
  scroll-behavior: smooth;
  color: transparent;
  font-size: 20px;
}

body {
  background: white;
}

nav a {
  color: rgb(190, 184, 184);
  margin-left: 30px;
  font-family: serif;
  font-size: 20px;
}

nav a:hover {
  color: rgb(48, 46, 46);
}

#home {
  /* height: 600px; */
  font-size: 30px;
  font-family: Lucida Handwriting;
  padding-top: 300px;
  padding-bottom: 100px;
  text-align: center;
}

#role {
  font-size: 50px;
  padding-top: 20px;
  margin-bottom: 100px;
  font-family: serif;
}

#about {
  background: white;
  /* height: 650px; */
  line-height: 3;
  font-family: Lucida Handwriting;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#myBtn {
  margin-left: 1250px;
  border-radius: 50%;
  /* height: 40px; */
  width: 40px;
  font-size: 10px;
  font-family: serif;
  text-align: center;
  border: pink;
  color: white;
  background-color: rgb(226, 13, 49);
}

#myBtn:hover {
  background-color: rgb(255, 128, 128);
  border-radius: 100%;
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.about-container1 {
  display: flex;
  justify-content: space space-between;
  margin: 30px;
  /* margin-left: 20px;
  margin-right: 100px; */
  margin-bottom: 150px;
  font-family: serif;
  border-radius: 10px;
}

.container1 div {
  border: none;
  border-radius: 10px;
  padding-top: 90px;
}

.about-box1 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 200px;
  margin-right: 0px;
  text-align: left;
  opacity: 0.9;
}

.about-box2 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  font-size: 20px;
  text-align: center;
  text-align: justify;
  
}

#portfolio {
  background: white;
  /* height: 650px; */
  font-family: serif;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 200px;
}

.project-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 400px;
  margin-left: 100px;
  margin-right: 100px;
}

.project-tile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 5px solid rgb(204, 182, 182);
  background-color: rgb(204, 182, 182);
  border-radius: 10px;
  /* padding: 50px;
  margin: 70px; */
  
}

.my-5 {
  background-color: white;
}

#contact {
  text-align: center;
  font-family: serif;
  font-size: 40px;
  padding-top: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact-container1 {
  /* display: flex;
  justify-content: space-between; */
  /* flex-direction: row; */
  /* padding-right: 300px; */
  /* border-spacing: 25px;
  padding-top: 80px; */
}

.boxed {
  /* display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid white;
  /* padding-left: 300px; */
  font-size: 20px;
  font-family: serif; 
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding-left: 250px;
}

.col {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 500px;
}

.button {
  font-size: 20px;
  font-family: serif;
  border-radius: 10px;
  background-color: rgb(175, 162, 162);
  color: white;
  /* margin-left: 10px; */
  height: 40px;
  width: 100px;
}

.footer {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: black;
  padding-top: 50px;
}

.container1 {
  flex-direction: column;
}

.whole {
  flex-direction: column;
}

.col {
  flex-direction: column;
}

@media screen and (min-width: 244px) and (max-width: 767px) {
  #navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 336px) and (max-width: 767px) {
  #home {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
#role {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#about {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#box2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen (max-width: 368px) {
  #portfolio {
    font-size: 25px;
    flex-direction: column;
    text-align: center;
  }
}

#project1 {
  font-size: 25px;
  flex-direction: column;
  text-align: center;
}

#project2 {
  font-size: 25px;
  flex-direction: column;
  text-align: center;
}

#project3 {
  font-size: 25px;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 368px) and (max-width: 767px) {
  #contact {
    font-size: 25px;
    flex-direction: column;
  }

  .box2 {
    font-size: 25px;
    flex-direction: column;
  }
