*{margin: 0, padding: 0, font-family: arial; text-align: center;}

html{
  scroll-behavior: smooth;
}

#home{
  background: linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%);
  height: 600px;
  font-size: 40px;
  font-family: monospace;
}

#about{
  background-color: rgb(196, 179, 182);
  height: 600px;
  font-family: monospace;
  font-size: 40px;
}

#portfolio{
  background-color: rgb(119, 162, 212);
  height: 600px;
  font-family: monospace;
  font-size: 40px;
}

#contact{
  background-color: rgb(207, 231, 141);
  height: 600px;
  font-family: monospace;
  font-size: 40px;
}








